{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "es6": true
    },
    "rules": {
        "max-len": [1, 120, 2, {ignoreComments: true}],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/forbid-prop-types": "off",
        "react/state-in-constructor": "off",
        "react/jsx-props-no-spreading": "off",
        "react/destructuring-assignment": "off",
        "import/prefer-default-export": "off",
        "import/no-extraneous-dependencies": "off"
    }
}
