<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
  <link href='css/swagger-ui.css' media='screen' rel='stylesheet' type='text/css'/>
  <link href='css/staffjoy_swagger.css' media='screen' rel='stylesheet' type='text/css'/>

  <script src='js/swagger-ui-bundle.js' type='text/javascript'></script>
  <script src='js/swagger-ui-standalone-preset.js' type='text/javascript'></script>
</head>

<body>
	<div id="swagger-ui"></div>

  <script type="text/javascript">
    var url = window.location.search.match(/url=([^&]+)/);
    if (url && url.length > 1) {
      url = decodeURIComponent(url[1]);
    } else {
      url = "/swagger.json";
    }

		window.onload = function() {
		  const ui = SwaggerUIBundle({
        url: url,
        dom_id: '#swagger-ui',
        supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
        deepLinking: true,

        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],

        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],

        layout: "StandaloneLayout"
		  });

		  window.ui = ui;

      ui.initOAuth({
        clientId: "your-client-id",
        clientSecret: "your-client-secret-if-required",
        realm: "your-realms",
        appName: "your-app-name",
        scopeSeparator: " ",
        additionalQueryStringParams: {}
      });

		}
		
		var log = function() {
			if ('console' in window) {
			  console.log.apply(console, arguments);
			}
		}
	</script>

</body>
</html>
