@import "../../../../frontend_resources/scss/colors";
.search-container {
  &.dark-container {
    background-color: $pure-white;
  }

  .SearchField-mdc-text-field {
    height: 32px;
    background-color: transparent !important;

    i {
      bottom: 5px;
    }

    input {
      padding: 0 38px 0  48px !important;
    }

    &::before, &::after {
      background-color: transparent !important;
    }
  }

}